html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	position: absolute;
}

body {
	display: table;
}

a {
	text-decoration: none;
	color: #666666;
}

a:hover {
	color: #888888;
}

.header {
	background: #eeeeee;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.footer {
	background: #eeeeee;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.headline {
	font-size: 2em;
	text-align: center;
}

.description {
	font-size: 1.5em;
	text-align: center;
}

.form {
	text-align: center;
	/* width: 100%; */
	margin: 0.5em;
}

.postarea {
	width: 50%;
	height: 20em;
	resize: none;
}

.stories {
	width: 100%;
	border-top: 1px solid black;
	padding: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.story {
	background: #eeeeee;
	margin: auto;
	margin-bottom: 1em;
	width: 70vw;
	padding: 2em;
	padding-bottom: 0;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	word-wrap: break-word;
}

.story:target {
	border: 1px solid black;
}

.timestamp {
	font-style: italic;
	color: #bbbbbb;
	padding-bottom: 1em;
	margin-top: 0.5em;
}

.navigation {
	width: 70%;
	margin: auto;
	padding-bottom: 1em;
}

.copyright {
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-khtml-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inline-block;
}

.about-link {
	float: right;
}

.content {
	display: table-row;
	height: 100%;
}

.nick {
	color: #ff0000;
}

.quote {
	color: #789922;
}
