<div class="post" id="post@@@number@@@">
	@@@image@@@
	@@@text@@@
	~ <span class="nick">@@@nickname@@@</span>
	<div class="date">
		@@@datestring@@@ (<a href="?to=@@@number@@@">@@@number@@@</a>)
	</div>
</div>

